
.navbar {
    background-color:yellow;
    width:100%;
    border-radius:5px;
    text-align: center;
    
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
      width:100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.active {
  background-color: #04AA6D;
}

    
    .About {
 
    background-color: lightpink;
    background: linear-gradient(yellow black);
    border-radius: 6px;
    margin: 90px 20px 20px 20px;
  }
    

.image-1{
  border-radius: 100%;
  margin-top: 50px;
}
p1 {
  font-family: cursive;
}
h1 {
  font-family: fantasy;
  text-align: center;
}
div.edu {
  text-align: center;
  background-color: lightskyblue;
  border-radius: 6px;
  margin: 10px 20px 20px 20px;
  width: 50%;
  transition: all 0.2s ease-in-out;
  height: 100px;
}

.image-1 {
  grid-area: image-1;
  transition: all 0.2s ease-in-out;
}

div.edu:hover {
  transform: scale(1.1);
}
img.school {
 width: 100%;
 border-radius: 6px;
 

}

